@media screen and (max-width: 1400px) {
    #profile {
        height: 93vh;
        margin-bottom: 6rem;
    }

    .about-containers {
        flex-wrap: wrap;
    }

    #contact,
    #projects {
        height: fit-content;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    .section--img-container {
        margin-bottom: 1rem;
    }

    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }

    #profile {
        display: block;
    }

    .arrow {
        display: none;
    }

    section {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers {
        margin-top: 0;
    }
}


@media (min-width: 768px) {
    .projects--card {
        flex-direction: row-reverse;
        border: none;
        box-shadow: none;
        position: relative;
        height: 24rem;
    }
    .card-image {
        width: 60%;
        height: 24rem;
        object-fit: cover;
        position: absolute;
        right: 0;
        border-top-right-radius: 0.75rem;
    }
    .project--info-container {
        position: absolute; 
        left: 0; 
        width: 100%; 
        align-items: flex-start; 
    }
    .project--info-title {
        width: 40%; 
        font-size: 2.25rem; 
        text-align: left; 
    }
    .project--info-p {
        background-color: rgba(128, 128, 128, .7);
        border-radius: 0.75rem; 
        font-size: 1.125rem;
        width: 50%;
        margin-top: 0.75rem;
        font-weight: bold; 
        color: #fff; 
        box-shadow: 0 2px 4px 0 #141719; 
    }
    .button--container {
        justify-content: flex-end;
        width: 40%; 
        margin-top: 0.75rem; 
        padding-right: 1.25rem; 
    }

    .card-image {
        min-width: 300px;
        max-width: 100%;
        height: auto;
        max-height: 24rem;
        aspect-ratio: 1/1;
    }
}

@media screen and (max-width: 600px) {

    #contact,
    footer {
        height: 40vh;
    }

    #profile {
        height: 83vh;
        margin-top: 7rem;
        margin-bottom: 0;
    }

    .section--img {
        width: 300px;
        height: 300px;
    }

    .section--text {
    margin-top: 20px;
    }
    
    .skills-card-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .contact--info-container {
        flex-wrap: wrap;
        margin: 0;
        margin-top: 3rem;
        border: none;
        font-size: .9rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .nav--links-container {
        text-align: center;
    }
    .footer--nav-links {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.8rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }

    .card-image {
        min-width: 300px;
        max-width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        margin-bottom: 1rem;
    }
}